@page "/department-subdepartment";

<style>
    .mud-tab {
        font-size: 12px;
        color: #484848;
    }

    .mud-tabs-toolbar-content {
        background: #CACACA !important;
        border-radius: 20px !important;
        flex: none;
        width: auto;
    }

    .mud-tab.mud-tab-active {
        color: #F2F2F2 !important;
        border: !important;
        background: #4D6798;
        border-radius: 20px !important;
    }

    .mud-tabs-toolbar .mud-tabs-rounded .mud-elevation-1 {
        border-radius: 20px !important;

    }

    .mud-tabs-toolbar .mud-tabs-toolbar-inner {
        border-radius: 20px !important;
    }

    .mud-elevation-1 {
        background: inherit;
    }

    .mud-tab-slider {
        background: inherit;
    }

    .mud-tabs-toolbar {
        border-radius: 20px !important;
        box-shadow: none;
    }
</style>


@{
    var dynamicItems = new List<BreadcrumbItem>
    {
        new BreadcrumbItem("MASTER MANAGEMENT", href: "#"),
        new BreadcrumbItem("DEPARTMENT & SUB DEPARTMENT", href: "#"),
    };
}

<DA.UI.Shared.breadcrumbs.Breadcrumbs Page="department & sub department" Items="dynamicItems" />

<div class="main-layout-container">
    <MudTabs Elevation="1" Rounded="true" PanelClass="mt-5">
        <MudTabPanel>
            <TabContent>
                Department
            </TabContent>
            <ChildContent>
                <MudText>
                    <DA.UI.Shared.master_management.TableDepartment />
                </MudText>
            </ChildContent>
        </MudTabPanel>
        <MudTabPanel>
            <TabContent>
                Sub Department
            </TabContent>
            <ChildContent>
                <MudText>
                    <DA.UI.Shared.master_management.TableSubdepartment />
                </MudText>
            </ChildContent>
        </MudTabPanel>
    </MudTabs>
</div>