@page "/user-profile";

@{
    var dynamicItems = new List<BreadcrumbItem>
    {
        new BreadcrumbItem("MASTER MANAGEMENT", href: "#"),
        new BreadcrumbItem("USER PROFILE", href: "#"),
    };
}

<DA.UI.Shared.breadcrumbs.Breadcrumbs Page="user profile" Items="dynamicItems" />

<div class="main-layout-container">
    <DA.UI.Shared.master_management.TableUserProfile />
</div>
