@code {

    bool Show = false;
    [Parameter]
    public EventCallback OnClose { get; set; }
    private void showChildDropdown()
    {
        Show = !Show;
    }

    private void hiddenChildDropdown()
    {
        Show = !Show;
    }

    private void HandleClose()
    {
        OnClose.InvokeAsync();
        Show = false;
    }
}

<div class="dropdown" style="z-index: 99999999 !important;">
    <ul class="d-flex flex-column gap-3 text-capitalize text-start">
        <li class="@((Show ? "d-flex justify-content-between text-primary w-full" : "d-flex justify-content-between w-full"))"
            onclick="@(() => showChildDropdown())">
            my approval
            <MudIcon Icon="@Icons.Material.Outlined.ArrowRight" Title="Favorite" />
        </li>
        <MudLink Href="/task-budget">
            <li class="text-inherit text-capitalize hover" onclick="@(() => HandleClose())">my task budget</li>
        </MudLink>
    <MudLink Href="/approver/reclass-approval">
            <li class="text-inherit text-capitalize hover" onclick="@(() => HandleClose())">Reclass Approval</li>
        </MudLink>
    </ul>
</div>

@if (Show)
{
    <div class="child-dropdown" style="z-index: 999999999 !important;">
    <ul class="d-flex flex-column gap-3 text-capitalize text-start">
        <MudLink Href="/approver/my-approval/pr-approval">
            <li class="text-inherit text-capitalize hover" onclick="@(() => HandleClose())">&#x2022; pr approval</li>
        </MudLink>
        <MudLink Href="/approver/my-approval/po-approval">
            <li class="text-inherit text-capitalize hover" onclick="@(() => HandleClose())">&#x2022; po approval</li>
        </MudLink>
    </ul>
</div>
}

