@code {

  [Parameter]
  public EventCallback OnClose { get; set; }

  [Parameter]
  public string roles { get; set; }

  private void HandleClose()
  {
    OnClose.InvokeAsync();
  }
}
@if (roles == "Admin FPA")
{
  <div class="dropdown" style="z-index: 99999999 !important;">
    <ul class="d-flex flex-column gap-3 text-capitalize text-start">
      <MudLink Href="/reclass-order">
        <li class="hover text-capitalize text-inherit" onclick="@(() => HandleClose())">reclass order</li>
      </MudLink>
      <MudLink Href="/budget-report">
        <li class="hover text-capitalize text-inherit" onclick="@(() => HandleClose())">budget report</li>
      </MudLink>
    </ul>
  </div>
}
else if (roles == "Approver")
{
  <div class="dropdown" style="z-index: 99999999 !important;">
    <ul class="d-flex flex-column gap-3 text-capitalize text-start">
      <MudLink Href="/budget-report">
        <li class="hover text-capitalize text-inherit" onclick="@(() => HandleClose())">budget report</li>
      </MudLink>
    </ul>
  </div>
}
else if (roles == "Admin ePro")
{
  <div class="dropdown" style="z-index: 99999999 !important;">
    <ul class="d-flex flex-column gap-3 text-capitalize text-start">
      <MudLink Href="/reclass-order">
        <li class="hover text-capitalize text-inherit" onclick="@(() => HandleClose())">reclass order</li>
      </MudLink>
      <MudLink Href="/budget-report">
        <li class="hover text-capitalize text-inherit" onclick="@(() => HandleClose())">budget report</li>
      </MudLink>
    </ul>
  </div>
}
else
{
  <div class="dropdown" style="z-index: 99999999 !important;">
    <ul class="d-flex flex-column gap-3 text-capitalize text-start">
      <MudLink Href="/supplier-information">
        <li class="hover text-capitalize text-inherit" onclick="@(() => HandleClose())">supplier information</li>
      </MudLink>
      <MudLink Href="/my-purchase">
        <li class="hover text-capitalize text-inherit" onclick="@(() => HandleClose())">my purchase</li>
      </MudLink>
      <MudLink Href="/reclass-order">
        <li class="hover text-capitalize text-inherit" onclick="@(() => HandleClose())">reclass order</li>
      </MudLink>
      <MudLink Href="/budget-report">
        <li class="hover text-capitalize text-inherit" onclick="@(() => HandleClose())">budget report</li>
      </MudLink>
    </ul>
  </div>
}
