@code {

    string activeDropdown = "";
    [Parameter]
    public EventCallback OnClose { get; set; }

    [Parameter]
    public string roles { get; set; }

    private void ShowModal(string dropdownName)
    {
        if (activeDropdown == dropdownName)
        {
            activeDropdown = "";
        }
        else
        {
            activeDropdown = dropdownName;
        }
    }

    private void HandleClose()
    {
        OnClose.InvokeAsync();
        activeDropdown = "";
    }
}

@if (roles == "Admin FPA")
{
    <div class="dropdown" style="z-index: 99999999 !important;">
        <ul class="d-flex flex-column gap-3 text-capitalize text-start">
            <li class="@((activeDropdown == "mastermanagement" ? "d-flex justify-content-between text-primary w-full" : "d-flex justify-content-between w-full"))"
                onclick="@(() => ShowModal("mastermanagement"))">
                master management
                <MudIcon Icon="@Icons.Material.Outlined.ArrowRight" Title="Favorite" />
            </li>

            <li class="@((activeDropdown == "budgetmanagement" ? "d-flex justify-content-between text-primary w-full" : "d-flex justify-content-between w-full"))"
                onclick="@(() => ShowModal("budgetmanagement"))">
                budget management
                <MudIcon Icon="@Icons.Material.Outlined.ArrowRight" Title="Favorite" />
            </li>

            <MudLink Href="/audit-trail">
                <li class="hover text-capitalize text-inherit" onclick="@(() => HandleClose())">audit trail</li>
            </MudLink>

            <MudLink Href="/setting">
                <li class="hover text-capitalize text-inherit" onclick="@(() => HandleClose())">settings</li>
            </MudLink>
            <MudLink Href="/country">
                <li class="hover text-capitalize text-inherit" onclick="@(() => HandleClose())">Country</li>
            </MudLink>
        </ul>
    </div>
}
else if (roles == "Admin ePro")
{
    <div class="dropdown" style="z-index: 99999999 !important;">
        <ul class="d-flex flex-column gap-3 text-capitalize text-start">
            <li class="@((activeDropdown == "mastermanagement" ? "d-flex justify-content-between text-primary w-full" : "d-flex justify-content-between w-full"))"
                onclick="@(() => ShowModal("mastermanagement"))">
                master management
                <MudIcon Icon="@Icons.Material.Outlined.ArrowRight" Title="Favorite" />
            </li>

            <MudLink Href="/supplier-management">
                <li class="hover text-capitalize text-inherit" onclick="@(() => HandleClose())">suplier management</li>
            </MudLink>

            <li class="@((activeDropdown == "purchasemanagement" ? "d-flex justify-content-between text-primary w-full" : "d-flex justify-content-between w-full"))"
                onclick="@(() => ShowModal("purchasemanagement"))">
                purchase management
                <MudIcon Icon="@Icons.Material.Outlined.ArrowRight" Title="Favorite" />
            </li>

            <MudLink Href="/audit-trail">
                <li class="hover text-capitalize text-inherit" onclick="@(() => HandleClose())">audit trail</li>
            </MudLink>

            <MudLink Href="/setting">
                <li class="hover text-capitalize text-inherit" onclick="@(() => HandleClose())">settings</li>
            </MudLink>
        </ul>
    </div>
}
else 
{
    <div class="dropdown" style="z-index: 99999999 !important;">
        <ul class="d-flex flex-column gap-3 text-capitalize text-start">
            <li class="@((activeDropdown == "mastermanagement" ? "d-flex justify-content-between text-primary w-full" : "d-flex justify-content-between w-full"))"
                onclick="@(() => ShowModal("mastermanagement"))">
                master management
                <MudIcon Icon="@Icons.Material.Outlined.ArrowRight" Title="Favorite" />
            </li>

            <MudLink Href="/supplier-management">
                <li class="hover text-capitalize text-inherit" onclick="@(() => HandleClose())">suplier management</li>
            </MudLink>

            <li class="@((activeDropdown == "purchasemanagement" ? "d-flex justify-content-between text-primary w-full" : "d-flex justify-content-between w-full"))"
                onclick="@(() => ShowModal("purchasemanagement"))">
                purchase management
                <MudIcon Icon="@Icons.Material.Outlined.ArrowRight" Title="Favorite" />
            </li>

            <li class="@((activeDropdown == "budgetmanagement" ? "d-flex justify-content-between text-primary w-full" : "d-flex justify-content-between w-full"))"
                onclick="@(() => ShowModal("budgetmanagement"))">
                budget management
                <MudIcon Icon="@Icons.Material.Outlined.ArrowRight" Title="Favorite" />
            </li>

            <MudLink Href="/audit-trail">
                <li class="hover text-capitalize text-inherit" onclick="@(() => HandleClose())">audit trail</li>
            </MudLink>

            <MudLink Href="/setting">
                <li class="hover text-capitalize text-inherit" onclick="@(() => HandleClose())">settings</li>
            </MudLink>
        </ul>
    </div>
}

@if (activeDropdown == "mastermanagement")
{
    @if (roles == "Admin FPA")
    {
        <div class="child-dropdown" style="z-index: 999999999 !important;">
            <ul class="d-flex flex-column gap-3 text-start">
                <MudLink Href="/cost-center">
                    <li class="hover text-capitalize text-inherit" onclick="@(() => HandleClose())">&#x2022; cost center</li>
                </MudLink>
                <MudLink Href="/account-code">
                    <li class="hover text-capitalize text-inherit" onclick="@(() => HandleClose())">&#x2022; account code</li>
                </MudLink>
            </ul>
        </div>
    }
    else
    {
        <div class="child-dropdown" style="z-index: 999999999 !important;">
            <ul class="d-flex flex-column gap-3 text-start">
                <MudLink Href="/user-profile">
                    <li class="hover text-capitalize text-inherit" onclick="@(() => HandleClose())">&#x2022; user profile</li>
                </MudLink>
                <MudLink Href="/department-subdepartment">
                    <li class="hover text-capitalize text-inherit" onclick="@(() => HandleClose())">&#x2022; department and
                        subdepartment</li>
                </MudLink>
                <MudLink Href="/cost-center">
                    <li class="hover text-capitalize text-inherit" onclick="@(() => HandleClose())">&#x2022; cost center</li>
                </MudLink>
                <MudLink Href="/account-code">
                    <li class="hover text-capitalize text-inherit" onclick="@(() => HandleClose())">&#x2022; account code</li>
                </MudLink>
            </ul>
        </div>
    }
}

@if (activeDropdown == "purchasemanagement")
{
    <div class="child-dropdown1" style="z-index: 999999999 !important;">
    <ul class="d-flex flex-column gap-3 text-capitalize text-start">
        <MudLink Href="/purchase-management/purchase-transaction">
            <li class="hover text-capitalize text-inherit" onclick="@(() => HandleClose())">&#x2022; purchase transaction</li>
        </MudLink>
        <MudLink Href="/purchase-management/delivery-order">
            <li class="hover text-capitalize text-inherit" onclick="@(() => HandleClose())">&#x2022; delivery order</li>
        </MudLink>
    </ul>
</div>
}

@if (activeDropdown == "budgetmanagement")
{
    @if (roles == "Admin FPA")
    {
        <div class="child-dropdown2" style="z-index: 999999999 !important; top: 150px !important;">
            <ul class="d-flex flex-column gap-3 text-capitalize text-start">
                <MudLink Href="/budget-master&budget-control">
                    <li class="hover text-capitalize text-inherit" onclick="@(() => HandleClose())">&#x2022; budget master &
                        budget control</li>
                </MudLink>
                <MudLink Href="/task-budget-admin">
                    <li class="hover text-capitalize text-inherit" onclick="@(() => HandleClose())">&#x2022; task budget</li>
                </MudLink>
            </ul>
        </div>
    }
    else
    {
        <div class="child-dropdown2" style="z-index: 999999999 !important;">
            <ul class="d-flex flex-column gap-3 text-capitalize text-start">
                <MudLink Href="/budget-master&budget-control">
                    <li class="hover text-capitalize text-inherit" onclick="@(() => HandleClose())">&#x2022; budget master &
                        budget control</li>
                </MudLink>
                <MudLink Href="/task-budget-admin">
                    <li class="hover text-capitalize text-inherit" onclick="@(() => HandleClose())">&#x2022; task budget</li>
                </MudLink>
            </ul>
        </div>
    }
}

