@page "/audit-trail"

@code {
    public string TextValue { get; set; }
}

<style>
    .mud-tab {
        font-size: 12px;
        color: #484848;
    }

    .mud-tabs-toolbar-content {
        background: #CACACA !important;
        border-radius: 20px !important;
        flex: none;
        width: auto;
    }

    .mud-tab.mud-tab-active {
        color: #F2F2F2 !important;
        border: !important;
        background: #4D6798;
        border-radius: 20px !important;
    }

    .mud-tabs-toolbar .mud-tabs-rounded .mud-elevation-1 {
        border-radius: 20px !important;

    }

    .mud-tabs-toolbar .mud-tabs-toolbar-inner {
        border-radius: 20px !important;
    }

    .mud-elevation-1 {
        background: inherit;
    }

    .mud-tab-slider {
        background: inherit;
    }

    .mud-tabs-toolbar {
        border-radius: 20px !important;
        box-shadow: none;
    }
</style>

@{
    var dynamicItems = new List<BreadcrumbItem>
    {
        new BreadcrumbItem("AUDIT TRAIL", href: "/audit-trail")
    };
}

<DA.UI.Shared.breadcrumbs.Breadcrumbs Page="AUDIT TRAIL" Items="dynamicItems" />

<PageTitle>Audit Trail</PageTitle>

<div class="main-layout-container" style="padding: 0; position: relative;">
    <div style="position: absolute; top: 45px; right: 50px;">
        <MudTextField @bind-Value="TextValue" style="max-width: 400px !important; min-width: 400px;"
            Variant="Variant.Text" Placeholder="Search ..." Margin="Margin.Dense">
        </MudTextField>
    </div>

    <MudTabs Elevation="1" Rounded="true" PanelClass="mt-5" style="padding: 40px;">
        <MudTabPanel>
            <TabContent>
                Activity Log
            </TabContent>
            <ChildContent>
                <DA.UI.Shared.audit_trail.ActivityLogTable />
            </ChildContent>
        </MudTabPanel>

        <MudTabPanel>
            <TabContent>
                Job Log
            </TabContent>
            <ChildContent>
                <DA.UI.Shared.audit_trail.JobLogTable />
            </ChildContent>
        </MudTabPanel>

        <MudTabPanel>
            <TabContent>
                Audit Trail log
            </TabContent>
            <ChildContent>
                <DA.UI.Shared.audit_trail.JobLogTable />
            </ChildContent>
        </MudTabPanel>
    </MudTabs>
</div>
