* {
    background: #D7D0C6;
    margin: 0;
    padding: 0;
}

.mainLayout {
    min-height: auto;
    max-height: auto;

    padding: 0 60px 0 60px;

    margin-bottom: 50px;
}

/* main layout */
.main-layout-container {
    background: #FFF9E1;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

    height: auto;

    padding: 40px 40px 20px 40px;
}