﻿@inherits LayoutComponentBase

<PageTitle>--</PageTitle>

<div>
    <DA.UI.Shared.navbar.NavMenu />
    <div class="mainLayout d-flex flex-column gap-0" style="min-height: 78vh;">
        @Body
    </div>
    <DA.UI.Shared.footer.FooterMenu />
</div>
