﻿@using Microsoft.AspNetCore.Components.Routing
@using MudBlazor
@using MudBlazor.Services
@using DA.UI.Shared.base_layout.auth_layout
@using DA.UI.Shared.base_layout.main_layout

<MudThemeProvider Theme="@Theme" />
<MudDialogProvider/>
<MudSnackbarProvider/>
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">

        @* <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" /> *@
        @if (routeData.PageType.Name == nameof(AuthLayout))
        {
            <LayoutView Layout="typeof(AuthLayout)">
                <RouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)" />
            </LayoutView>
        }
        else
        {
            <RouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)" />
        }


        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>


@code {
    MudTheme Theme = new MudTheme();
}