﻿@using Microsoft.AspNetCore.Components.Web
@namespace DA.UI.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    @* <link href="css/site.css" rel="stylesheet" /> *@
    <link href="SunLife.UI.styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/global-style.css" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>

<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script>
        function createExcelDownloadLink(base64Data, filename) {
            // Create a Blob from the base64 data
            const binaryData = atob(base64Data);
            const arrayBuffer = new ArrayBuffer(binaryData.length);
            const byteArray = new Uint8Array(arrayBuffer);

            for (let i = 0; i < binaryData.length; i++) {
                byteArray[i] = binaryData.charCodeAt(i);
            }

            const blob = new Blob([arrayBuffer], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });

            // Create a download URL
            const url = window.URL.createObjectURL(blob);

            // Create an anchor element for the download link
            const a = document.createElement('a');
            a.href = url;
            a.download = filename;

            // Append the anchor element to the DOM
            document.body.appendChild(a);

            // Trigger a click event on the anchor element to start the download
            a.click();

            // Remove the anchor element from the DOM
            document.body.removeChild(a);

            // Revoke the URL object after the download is initiated
            window.URL.revokeObjectURL(url);
        }
        
        function createPdfDownloadLink(base64Data, filename) {
            // Create a Blob from the base64 data
            const binaryData = atob(base64Data);
            const arrayBuffer = new ArrayBuffer(binaryData.length);
            const byteArray = new Uint8Array(arrayBuffer);

            for (let i = 0; i < binaryData.length; i++) {
                byteArray[i] = binaryData.charCodeAt(i);
            }

            const blob = new Blob([arrayBuffer], { type: 'application/pdf' });

            // Create a download URL
            const url = window.URL.createObjectURL(blob);

            // Create an anchor element for the download link
            const a = document.createElement('a');
            a.href = url;
            a.download = filename;

            // Append the anchor element to the DOM
            document.body.appendChild(a);

            // Trigger a click event on the anchor element to start the download
            a.click();

            // Remove the anchor element from the DOM
            document.body.removeChild(a);

            // Revoke the URL object after the download is initiated
            window.URL.revokeObjectURL(url);
        }
    </script>
</body>

</html>
