@page "/auth/confirm-login"
@layout DA.UI.Shared.base_layout.auth_layout.AuthLayout

@using DA.UI.Models
@using Microsoft.Extensions.Logging
@using Newtonsoft.Json
@using Microsoft.Extensions.Configuration
@using DA.UI.Utilities
@inject ILogger<Login> Logger
@using RestSharp
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components

@inject IJSRuntime JSRuntime
@code {

    [Parameter]
    public string? UserName { get; set; }
    @inject IConfiguration Configuration
    private ConfirmLoginInputModel ConfirmLoginInputModel = new();
    private string Password = string.Empty;
    private string NewPassword = string.Empty;

    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
    bool isShow;

    string baseURL = string.Empty;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        baseURL = Configuration["URLs:API"] ?? string.Empty;
        // Gunakan nilai konfigurasi sesuai kebutuhan
    }

    private void ShowPassword()
    {
        @if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }

    private void DoLogin()
    {
        var param = new LoginInputModel();
        param.UserName = UserName;
        param.Password = ConfirmLoginInputModel.Password;
        var x = Service.POST(baseURL, "auth/login", param);
        try
        {
            if(x.IsSuccessStatusCode)
            {
                var objResult = JsonConvert.DeserializeObject<ResultModel<LoginResultModel>>(x.Content);

                SessionManager.SetToken(JSRuntime, objResult.Data.AccessToken);
                SessionManager.SetUserId(JSRuntime, objResult.Data.UserInfo.employee_id);
                SessionManager.SetName(JSRuntime, objResult.Data.UserInfo.displayName);
                SessionManager.SetRole(JSRuntime, objResult.Data.UserInfo.role);
                SessionManager.SetDepartmentId(JSRuntime, objResult.Data.UserInfo.department_id);
                SessionManager.SetUsername(JSRuntime, UserName);
            }
       
            NavigationManager.NavigateTo("/");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            // Log or handle the exception here
        }
    }
}


<PageTitle>Login</PageTitle>

<MudCard class="authentication-card-width">
    <MudCardContent class="authentication-card-content">
        <div class="authentication-card-content-display">
            @* <MudTextField @bind-Value="loginInputModel.UserName" Variant="Variant.Outlined" /> *@
            <div style="position: absolute; top: 70px; left: 0; width: 100%; text-align: center">
                @* <img src="/images/auth/sunlife-logo.png" alt="logo" width="180"> *@
            </div>

            <div class="d-flex flex-column gap-0">
                <span style="color: #7D7D7D; font-weight: semibold">Password</span>
                <MudTextField @bind-Value="ConfirmLoginInputModel.Password" Variant="Variant.Outlined"
                    InputType="@PasswordInput" Adornment="Adornment.End" Margin="Margin.Dense"
                    AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ShowPassword"
                    AdornmentAriaLabel="Show Password" Placeholder="***************" />
            </div>

            <div class="d-flex flex-column gap-0">
                <span style="color: #7D7D7D; font-weight: semibold">New Password</span>
                <MudTextField @bind-Value="ConfirmLoginInputModel.NewPassword" Variant="Variant.Outlined"
                    InputType="@PasswordInput" Adornment="Adornment.End" Margin="Margin.Dense"
                    AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ShowPassword"
                    AdornmentAriaLabel="Show Password" Placeholder="***************" />
            </div>

            <MudButton Variant="Variant.Filled" Size="Size.Large" OnClick="@DoLogin"
                style="background: #3D738D; color: #F2F2F2">Sign
                in</MudButton>
        </div>
    </MudCardContent>
</MudCard>

