﻿@page "/counter"

@code {
    private bool IsModalOpen { get; set; }

    private void ToggleModal()
    {
        IsModalOpen = !IsModalOpen;
    }

    private void CloseProps()
    {
        IsModalOpen = false;
    }
}

<PageTitle>Counter</PageTitle>

<MudButton Variant="Variant.Outlined" Color="Color.Error" OnClick="ToggleModal">Show Modal</MudButton>
@IsModalOpen


@if (IsModalOpen)
{
    <DA.UI.Shared.modal.master_management.department_subdepartment.CreateDepartmentModal OnClose="CloseProps" />
}