﻿@page "/"

<PageTitle>Dashboard</PageTitle>

<div class="d-flex flex-column gap-4">
    <DA.UI.Shared.dashboard.chart_diagram.DiagramChart />
    <div class="main-layout-container">
        <DA.UI.Shared.dashboard.table.DashboardTable />
    </div>
</div>