@page "/auth/login"
@layout DA.UI.Shared.base_layout.auth_layout.AuthLayout

@using DA.UI.Models
@using Microsoft.Extensions.Logging
@using Newtonsoft.Json
@using Microsoft.Extensions.Configuration
@using DA.UI.Utilities
@inject ILogger<Login> Logger
@using RestSharp


@code
{
    @inject IConfiguration Configuration
private LoginInputModel loginInputModel = new();
    private string userName = string.Empty;
    private string password = string.Empty;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
    bool isShow;
    string baseURL = string.Empty;

    bool isShowInputPassword = false;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        baseURL = Configuration["URLs:API"] ?? string.Empty;
        // Gunakan nilai konfigurasi sesuai kebutuhan
    }
    private void ShowPassword()
    {
        @if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }

    private void DoLogin()
    {
        isShowInputPassword = true;
        @* var x = Service.POST(baseURL, "auth/login", loginInputModel); *@
        @* Logger.LogInformation(x.Content); *@
    }
}

<PageTitle>Login</PageTitle>

<MudCard class="authentication-card-width">

    <MudCardContent class="authentication-card-content">
        @if (isShowInputPassword == false)
        {
            <div class="authentication-card-content-display">
                @* <MudTextField @bind-Value="loginInputModel.UserName" Variant="Variant.Outlined" /> *@
                <div style="position: absolute; top: 70px; left: 0; width: 100%; text-align: center">
                    @* <img src="/images/auth/sunlife-logo.png" alt="logo" width="180"> *@
                </div>

                <div class="d-flex flex-column gap-0">
                    <span style="color: #7D7D7D; font-weight: semibold">User ID</span>
                    <MudTextField @bind-Value="loginInputModel.UserName" Variant="Variant.Outlined" Margin="Margin.Dense"
                        Placeholder="randi@microsoft.co.id" />
                </div>

                @* <MudTextField @bind-Value="loginInputModel.Password" Label="Password" Variant="Variant.Outlined"
            InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon"
            OnAdornmentClick="ShowPassword" AdornmentAriaLabel="Show Password" /> *@
                <MudButton Variant="Variant.Filled" Size="Size.Large" OnClick="@DoLogin"
                    style="background: #3D738D; color: #F2F2F2">Sign
                    in</MudButton>
            </div>
        }
        else
        {
            <ConfirmLogin UserName=@loginInputModel.UserName/>
        }

    </MudCardContent>
</MudCard>


