@inject IConfiguration Configuration
@using DA.UI.Utilities
@using DA.UI.Models.Currency
@using DA.UI.Models.ApprovalLevel
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq

@code {
    public string? Currency { get; set; }
    public string? Name { get; set; }
    public string? Type { get; set; }
    public string? Level { get; set; }
    public string? MinAmount { get; set; }
    [Parameter]
    public EventCallback OnClose { get; set; }
    [Parameter]
    public EventCallback Reload { get; set; }
    [Parameter]
    public string? Token { get; set; }
    [Parameter]
    public int? SelectedId { get; set; }
    [Parameter]
    public string? Explanation { get; set; }
    public string ErrMsg { get; set; }
    private string baseURL = string.Empty;
    private bool formSubmited = false;
    private string LevelErrMsg = string.Empty;
    private List<Currencys> currency = new List<Currencys>();
    private List<ApprovalType> approvalType = new List<ApprovalType>();

    private void CloseProps()
    {
        OnClose.InvokeAsync();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        formSubmited = false;
        baseURL = Configuration["URLs:API"] ?? string.Empty;
    }

    protected override async Task OnInitializedAsync()
    {
        GetCostCenterOwner();
        GetApprovalType();

        var response = Service.GET(baseURL, $"/approval-level/{SelectedId}", token: Token);
        var responseContent = response.Content;

        var jsonObject = JsonConvert.DeserializeObject<dynamic>(responseContent);
        var dataObject = jsonObject.data.ToObject<ApprovalLevels>();

        Currency = dataObject.CurrencyId.ToString();
        Type = dataObject.TypeId.ToString();
        Level = dataObject.Level.ToString();
        MinAmount = dataObject.MinAmount.ToString();
    }

    private void GetCostCenterOwner()
    {
        var response = Service.GET(baseURL, "/currency", token: Token);
        var responseContent = response.Content;

        var jsonObject = JsonConvert.DeserializeObject<dynamic>(responseContent);
        var dataArray = jsonObject.data as JArray;

        foreach (var item in dataArray)
        {
            var currencyObject = item.ToObject<Currencys>();
            
            if(currencyObject.Deleted == false)
            {
                currency.Add(currencyObject);
            }
        }
    }

    private void GetApprovalType()
    {
        var response = Service.GET(baseURL, "/approval-type", token: Token);
        var responseContent = response.Content;

        var jsonObject = JsonConvert.DeserializeObject<dynamic>(responseContent);
        var dataArray = jsonObject.data as JArray;

        foreach (var item in dataArray)
        {
            var approvalTypeObject = item.ToObject<ApprovalType>();

            if(approvalTypeObject.Deleted == false)
            {
                approvalType.Add(approvalTypeObject);
            }
            approvalType.Add(approvalTypeObject);
        }
    }
    private void HandleSubmit()
    {
        formSubmited = true;
        // Check if any required field is empty
        if (
            string.IsNullOrWhiteSpace(Type) ||
            string.IsNullOrWhiteSpace(Level) ||
            string.IsNullOrWhiteSpace(MinAmount))
        {
            if(string.IsNullOrWhiteSpace(Level))
            {
                LevelErrMsg = "Level is required.";
            } else {
                LevelErrMsg = "";
            }

            return;
        }

        if(int.Parse(Level) > 5)
        {
            LevelErrMsg = "The maximum level is only up to 5.";
            return;
        }

        // Max level 2 if type verification
        if (int.Parse(Type) == 3 && int.Parse(Level) > 2)
        {
            LevelErrMsg = "The maximum level is only up to 2.";
            return;
        }

        // Max level 1 if type QA
        if (int.Parse(Type) == 4 && int.Parse(Level) > 1)
        {
            LevelErrMsg = "The maximum level is only up to 1.";
            return;
        }

        try
        {
            var payload = new
            {
                id = 0,
                type_id = int.Parse(Type),
                level = int.Parse(Level),
                min_amount = int.Parse(MinAmount),
                currency_id = 10,
                deleted = false
            };

            var response = Service.PUT(baseURL, $"/approval-level/{SelectedId}", payload, token: Token);

            if (!response.IsSuccessStatusCode)
            {
                var errorResponseContent = response.Content;
                Console.WriteLine($"Error: {errorResponseContent}");
                // atau Debug.WriteLine($"Error: {errorResponseContent}");

                var jsonObject = JsonConvert.DeserializeObject<dynamic>(errorResponseContent);
                ErrMsg = jsonObject.message;
                return;
            }

             Reload.InvokeAsync();
             CloseProps();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
            // atau Debug.WriteLine($"Error: {ex.Message}");
        }
    }
}

<div class="container-modal">
    <div class="modal-content" style="max-height: none;">
        <button class="onclose text-black" @onclick="CloseProps">
            x
        </button>

        <div class="container-content">
            <div class="d-flex flex-column gap-3 mt-5">
                <div class="d-flex flex-column gap-1">
                    <MudGrid>
                        <MudItem xs="12">
                            <small class="text-capitalize title-modal">Type <span style="color: #D20000;">*</span></small>
                            <MudSelect T="string" @bind-Value="Type" Variant="Variant.Outlined" Placeholder="-" Margin="Margin.Dense" AnchorOrigin="Origin.BottomCenter">
                                @foreach (var item in approvalType)
                                {
                                    <MudSelectItem T="string" Value="@item.Id.ToString()">@item.Name</MudSelectItem>
                                }
                            </MudSelect>

                            @if (formSubmited && string.IsNullOrWhiteSpace(Type))
                            {
                                <span class="field-error">Type is required.</span>
                            }
                        </MudItem>
                        @* <MudItem xs="6">
                            <small class="text-capitalize title-modal">Currency <span style="color: #D20000;">*</span></small>
                            <MudSelect T="string" @bind-Value="Currency" Variant="Variant.Outlined" Placeholder="-" Margin="Margin.Dense" AnchorOrigin="Origin.BottomCenter">
                                @foreach (var item in currency)
                                {
                                    <MudSelectItem T="string" Value="@item.Id.ToString()">@item.Name</MudSelectItem>
                                }
                            </MudSelect>

                            @if (formSubmited && string.IsNullOrWhiteSpace(Currency))
                            {
                                <span class="field-error">Currency is required.</span>
                            }
                        </MudItem> *@
                    </MudGrid>
                </div>
                <div class="d-flex flex-column gap-1">
                    <small class="text-capitalize title-modal">Level <span style="color: #D20000;">*</span></small>
                    <MudTextField  @bind-Value="Level" Margin="Margin.Dense" Variant="Variant.Outlined">
                    </MudTextField>

                    @if (formSubmited)
                    {
                        <span class="field-error">@LevelErrMsg</span>
                    }
                </div>
                <div class="d-flex flex-column gap-1">
                    <small class="text-capitalize title-modal">Min Amount <span style="color: #D20000;">*</span></small>
                    <MudTextField  @bind-Value="MinAmount" Margin="Margin.Dense" Variant="Variant.Outlined">
                    </MudTextField>

                    @if (formSubmited && string.IsNullOrWhiteSpace(MinAmount))
                    {
                        <span class="field-error">Min Amount is required.</span>
                    }
                </div>

                @if(!string.IsNullOrWhiteSpace(ErrMsg)){
                    <MudAlert Severity="Severity.Error">@ErrMsg</MudAlert>
                }
            </div>
        </div>

        <div class="footer-modal">
            <div class="d-flex flex-row gap-3 justify-content-end">
                <MudButton Variant="Variant.Outlined" Color="Color.Error" class="text-uppercase px-5"
                    style="width: 150px;" @onclick="CloseProps">
                    cancel
                </MudButton>
                <MudButton Variant="Variant.Filled" class="save-modal text-uppercase px-5" style="width: 150px;"
                    @onclick="HandleSubmit">
                    save
                </MudButton>
            </div>
        </div>
    </div>
</div>