@page "/auth"

@inherits LayoutComponentBase

<div class="authlayout">
    <div class="authentication-bg authentication-container">
        @Body
    </div>


    <div class="authentication-absolute d-flex flex-column gap-0">
        @* <h6 class="h6-color">© 2016 PT Sun Life Financial Indonesia All rights reserved</h6> *@
        <small class="small-color">Layanan· Kebijakan Privasi</small>
    </div>
</div>