@using Newtonsoft.Json
@using RestSharp
@using System.Collections.Generic
@inject ILogger<BasicTable<TItem>> Logger
@using DA.UI.Utilities
@using System.Reflection


@typeparam TItem
<MudSimpleTable Style="overflow-x: auto;">
    <thead>
        <tr>

            @foreach (var item in Columns)
            {
                <th>@item</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Data)
        {
            <tr>
                @foreach (var propertyInfo in typeof(TItem).GetProperties())
                {
                    var colAtt = propertyInfo.GetCustomAttribute(typeof(BasicTable), true);
                    if (colAtt == null)
                        continue;
                    var columnInfo = (BasicTable)colAtt;
                    if (columnInfo.IsShow)
                    {
                            <td>@propertyInfo.GetValue(item)</td>
                    }
                }
            </tr>
        }
    </tbody>
</MudSimpleTable>


@code
{
    [Parameter]
    public List<string> Columns { get; set; }

    [Parameter]
    public List<TItem> Data { get; set; }

    protected override void OnInitialized()
    {
        PropertyInfo[] propCollection = typeof(TItem).GetType().GetProperties();
        foreach (var property in propCollection)
        {
            var colAtt = property.GetCustomAttribute(typeof(BasicTable), true);
            if (colAtt == null)
                continue;

            var columnInfo = (BasicTable)colAtt;
            string columnName = property.Name;
            if (!string.IsNullOrEmpty(columnInfo.ColumnName))
                columnName = columnInfo.ColumnName;

            if (columnInfo.IsShow)
                Columns.Add(columnName);

        }
    }
}