* {
    padding: 0;
    margin: 0;
}

/* authentication layout */
.authentication-bg {
    background-image: url('/images/auth/bg-sunlife.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(2.5px);
}

.authentication-container {
    width: 100%;
    min-height: 750px;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.authentication-card-width {
    max-width: 600px;
    min-width: 600px;

    border-radius: 15px;

    background: #FFF9E1;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.authentication-card-content {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    min-height: 450px;
    max-height: 450px;
}

.authentication-card-content-display {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    min-width: 450px;
    gap: 20px;
}

.authentication-position {
    position: relative;
    overflow: hidden;
}

.authentication-absolute {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;

    text-align: center;
}

.authentication-absolute .h6-color {
    color: #484848;
}

.authentication-absolute .small-color {
    color: #7D7D7D;
}

/* main layout */
.main-layout-container {
    background: #FFF9E1;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

    height: auto;

    padding: 40px 40px 20px 40px;
}

/* styling for table */
.header-rounded-left {
    border-top-left-radius: 10px !important;
}

.header-rounded-right {
    border-top-right-radius: 10px !important;
}

.header-background {
    background: #3D738D !important;
    color: #F2F2F2 !important;

    font-size: 13px !important;
}

.body-background {
    background-color: #FFF9E1 !important;
}

/* style for dropdown */
.dropdown {
    position: absolute;
    top: 65px;
    z-index: 50;

    max-width: 250px;
    min-width: 250px;

    background: #FFF9E1;
    color: #484848;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

    max-height: auto;
    min-height: auto;

    border-radius: 6px;

    padding: 20px;
}

.child-dropdown {
    position: absolute;
    top: 100px;
    left: 150px;
    z-index: 60;

    max-width: 300px;
    min-width: 300px;

    background: #f1ebd6;
    color: #484848;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

    max-height: auto;
    min-height: auto;

    border-radius: 6px;

    padding: 20px;
}

.child-dropdown1 {
    position: absolute;
    top: 180px;
    left: 150px;
    z-index: 60;

    max-width: 300px;
    min-width: 300px;

    background: #f1ebd6;
    color: #484848;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

    max-height: auto;
    min-height: auto;

    border-radius: 6px;

    padding: 20px;
}

.child-dropdown2 {
    position: absolute;
    top: 220px;
    left: 150px;
    z-index: 60;

    max-width: 300px;
    min-width: 300px;

    background: #f1ebd6;
    color: #484848;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

    max-height: auto;
    min-height: auto;

    border-radius: 6px;

    padding: 20px;
}

.w-full {
    width: full;
}

.hover:hover {
    color: #1E88E5 !important;
}

.text-inherit {
    color: #484848 !important;
    text-decoration: none !important;
}

/* style for navbar */
.navbar-container {
    background: #003345;
    color: #F2F2F2 !important;

    padding: 30px 60px 30px 60px;
    margin-bottom: 20px;

    font-size: 16px;
    text-transform: capitalize;

    position: sticky;
    top: 0;

    z-index: 200;
}

.hidden {
    display: none;
}

/* style for footer */
.container-footer {
    background: #003345;
    color: #F2F2F2;

    padding: 30px 60px 30px 60px;
    clear: both;
    position: relative;
}

/* style for modal */
.container-modal {
    position: fixed;
    z-index: 999px;
    top: 0px;
    left: 0px;
    overflow: hidden;

    max-height: 100%;
    min-height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background: #FFF9E1;
    color: #CACACA;

    max-width: 600px !important;
    min-width: 600px !important;

    min-height: 300px;
    max-height: 300px;

    border-radius: 15px;

    position: relative;
}

.container-content {
    padding: 20px 25px 30px 25px;
}

.footer-modal {
    width: 100%;
    border-top: 1.5px solid #CFCFCF;
    padding: 20px 25px 25px 25px;
}

.title-modal {
    color: #7D7D7D;
}

.save-modal {
    background: #1EB57E;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), inset 0px 2px 4px rgba(0, 0, 0, 0.15);
    color: white;
}

.onclose {
    position: absolute;
    top: 10px;
    right: 10px;

    background: #CACACA;
    border-radius: 100%;

    height: 35px !important;
    width: 35px !important;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 200px;
}

.font-size-12px {
    font-size: 12px !important;
}

.field-error {
    color: red;
    font-size: 12px;
}

.container-modal {
    z-index: 9999 !important;
}

.mud-popover {
    z-index: 99999 !important;
}

.uppercase-text input {
    text-transform: uppercase;
}

#mud-snackbar-container {
    left: 10px !important;
}