@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using DA.UI.Models.ApprovalLevel
@using DA.UI.Utilities
@using MudBlazor
@using Microsoft.JSInterop
@using System
@inject IJSRuntime JSRuntime

@code {
    @inject IConfiguration Configuration
    private IEnumerable<ApprovalLevels>? pagedData;
    private MudTable<ApprovalLevels>? table;
    private int totalItems;
    private int pageCount;
    private int key = 1; // Ubah nilai awal counter menjadi 1
    private string? searchString = null;
    private string baseURL = string.Empty;
    private string token = string.Empty;
    private int selectedId;
    private int itemsPerPage = 10;
    private string infoFormat = "{first_item}-{last_item} of {all_items}";

    private bool IsModalOpen { get; set; }
    private bool IsModalDetailOpen { get; set; }
    private bool IsModalOpenDelete { get; set; }
    public string? AccountId { get; set; }

    private async Task<TableData<ApprovalLevels>> ServerReload(TableState state)
    {
        try
        {
            baseURL = Configuration["URLs:API"] ?? string.Empty;
            token = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "token");

            var response = Service.GET(baseURL, "/approval-level", token: token);
            var responseContent = response.Content;
            var jsonObject = JObject.Parse(responseContent);
            var dataArray = (JArray)jsonObject["data"];
            var responseJson = dataArray?.ToString();

            var result = !string.IsNullOrEmpty(responseContent) ? JsonConvert.DeserializeObject<List<ApprovalLevels>>(responseJson) : new List<ApprovalLevels>();
            var nonDeletedCategories = result?.ToList();

            for (int i = 0; i < nonDeletedCategories.Count; i++)
            {
                nonDeletedCategories[i].Index = i + 1;
            }

            var res = new TableData<ApprovalLevels>();
            res.Items = result;

            var data = res.Items;
            
            data = data?.Where(element =>
                string.IsNullOrWhiteSpace(searchString) ||
                $"{element.Id}".Contains(searchString, StringComparison.OrdinalIgnoreCase) ||
                $"{element.Type}".Contains(searchString, StringComparison.OrdinalIgnoreCase) ||
                $"{element.Level}".Contains(searchString, StringComparison.OrdinalIgnoreCase) ||
                $"{element.MinAmount}".Contains(searchString, StringComparison.OrdinalIgnoreCase)
            ).ToArray();

            totalItems = data?.Count() ?? 0;
            pageCount = (int)Math.Ceiling((double)totalItems / itemsPerPage); // Menghitung jumlah halaman dan mengonversi ke tipe data int

            switch (state.SortLabel)
            {
                case "id_field":
                    data = data.OrderByDirection(state.SortDirection, o => o.Id);
                    break;
                case "type_field":
                    data = data.OrderByDirection(state.SortDirection, o => o.Type);
                    break;
                case "level_field":
                    data = data.OrderByDirection(state.SortDirection, o => o.Level);
                    break;
                case "amount_field":
                    data = data.OrderByDirection(state.SortDirection, o => o.MinAmount);
                    break;
            }

            pagedData = data?.Skip((state.Page) * (state?.PageSize ?? 10)).Take(state?.PageSize ?? 10).ToArray() ?? new ApprovalLevels[0];

            StateHasChanged();
            return new TableData<ApprovalLevels>() { TotalItems = totalItems, Items = pagedData };
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
            // atau Debug.WriteLine($"Error: {ex.Message}");

            return new TableData<ApprovalLevels>() { TotalItems = 0, Items = new ApprovalLevels[0] };
        }
    }
    private void OnSearch(string text)
    {
        searchString = text;
        table?.ReloadServerData();
    }
    private void ToggleModal()
    {
        IsModalOpen = !IsModalOpen;
    }
    private void CloseProps()
    {
        IsModalOpen = false;
        IsModalDetailOpen = false;
        IsModalOpenDelete = false;
        selectedId = 0;
    }
    private void ToggleModalDelete(int id)
    {
        selectedId = id;
        IsModalOpenDelete = !IsModalOpenDelete;
    }

    private void ToggleModalEdit(int id)
    {
        IsModalDetailOpen = !IsModalDetailOpen;
        selectedId = id;
    }

    private void OnDeleted()
    {
        var update = Service.DELETE(baseURL, $"/approval-level/{selectedId}", token: token);
        
        table.ReloadServerData();
        CloseProps();
    }
}

<PageTitle>SETTINGS</PageTitle>

<div class="d-flex flex-column gap-2">
    <div class="d-flex flex-row justify-content-between gap-2">
        <MudTextField T="string" ValueChanged="@(s => OnSearch(s))" Variant="Variant.Outlined" Margin="Margin.Dense"
            style="max-width: 400px !important; min-width: 400px;" Placeholder="Search ..." />

        <MudButton Variant="Variant.Filled" Size="Size.Small" style="background: #3D738D; color: #F2F2F2;" class="px-4" OnClick="@ToggleModal">
            create approval level</MudButton>

        <MudButton Variant="Variant.Filled" Size="Size.Small" style="width: 120px; color: #7D7D7D; background: #CACACA; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), inset 0px
        2px 4px rgba(0, 0, 0, 0.15);">
            export
        </MudButton>
    </div>

    <div class="d-flex flex-column gap-3">
        <MudTable ServerData="@(new Func<TableState, Task<TableData<ApprovalLevels>>>(ServerReload))" Dense="true"
            Hover="true" @ref="table" style="box-shadow: none;">
            <HeaderContent>
                <MudTh class="text-center py-3 header-background header-rounded-left">
                    <MudTableSortLabel class="text-center text-uppercase" SortLabel="id_field"
                        T="ApprovalLevels">
                        No
                    </MudTableSortLabel>
                </MudTh>
                <MudTh class="text-center py-3 header-background">
                    <MudTableSortLabel class="text-center text-uppercase" SortLabel="type_field"
                        T="ApprovalLevels">
                        TYPE
                    </MudTableSortLabel>
                </MudTh>
                <MudTh class="text-center py-3 header-background">
                    <MudTableSortLabel class="text-center text-uppercase" SortLabel="level_field"
                        T="ApprovalLevels">
                        level
                    </MudTableSortLabel>
                </MudTh>
                <MudTh class="text-center py-3 header-background">
                    <MudTableSortLabel class="text-center text-uppercase" SortLabel="amount_field"
                        T="ApprovalLevels">
                        min amount
                    </MudTableSortLabel>
                </MudTh>
                @* <MudTh class="text-center py-3 header-background">
                    <MudTableSortLabel class="text-center text-uppercase" SortLabel="status_field" T="ApprovalLevels">
                        currency
                    </MudTableSortLabel>
                </MudTh> *@
                <MudTh class="text-center py-3 header-background header-rounded-right">
                    <MudTableSortLabel class="text-center text-uppercase"
                        T="ApprovalLevels">
                        action
                    </MudTableSortLabel>
                </MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd class="p-3 body-background" DataLabel="cost_centerId_field">
                    <MudText Align="Align.Center">
                        @context.Index
                    </MudText>
                </MudTd>
                <MudTd class="p-3 body-background" DataLabel="cost_centerName_field">
                    <MudText Align="Align.Center">@context.Type</MudText>
                </MudTd>
                <MudTd class="p-3 body-background" DataLabel="cost_centerName_field">
                    <MudText Align="Align.Center">@context.Level</MudText>
                </MudTd>
                <MudTd class="p-3 body-background" DataLabel="cost_centerName_field">
                    <MudText Align="Align.Center">@string.Format("{0:N2}", context.MinAmount)</MudText>
                </MudTd>
                @* <MudTd class="p-3 body-background" DataLabel="cost_centerName_field">
                    <MudText Align="Align.Center">@context.Currency</MudText>
                </MudTd> *@
                <MudTd class="p-3 body-background d-flex flex-row justify-content-center gap-2"
                    DataLabel="created_At_field">
                    <button style="color: #FFC000;" @onclick="() => ToggleModalEdit(context.Id)">
                        <MudIcon Icon="@Icons.Material.Outlined.Edit" Title="edit" />
                    </button>
                    <button style="color: #D20000;" @onclick="() => ToggleModalDelete(context.Id)">
                        <MudIcon Icon="@Icons.Material.Outlined.Delete" Title="delete" />
                    </button>
                </MudTd>
            </RowTemplate>
            <NoRecordsContent>
                <MudText style="background: #FFF9E1; padding: 10px; margin-top: -12px; margin-bottom: -12px;">No matching records found</MudText>
            </NoRecordsContent>
            <LoadingContent>
                <MudText style="background: #FFF9E1; padding: 10px; margin-top: -12px; margin-bottom: -12px;">Loading...</MudText>
            </LoadingContent>
            <PagerContent>
                <MudTablePager style="background: #FFF9E1;"
                    PageSizeOptions="new int[] { 10, 25, 50, 100, int.MaxValue }" InfoFormat="@($"End {infoFormat}")"
                    HorizontalAlignment="HorizontalAlignment.End" />
            </PagerContent>
        </MudTable>
    </div>
</div>

@if (IsModalOpen)
{
    <DA.UI.Shared.modal.setting.approval_level.ApprovalLevelAdd OnClose="CloseProps" Reload="@(() => table?.ReloadServerData())" Token="@token" />
}

@if (IsModalDetailOpen)
{
    <DA.UI.Shared.modal.setting.approval_level.ApprovalLevelEdit OnClose="CloseProps" Reload="@(() => table?.ReloadServerData())" Token="@token" SelectedId="@selectedId" />
}

@if (IsModalOpenDelete)
{
    <DA.UI.Shared.modal.DeleteModal OnClose="CloseProps" OnSave="OnDeleted" />
}