<div class="d-flex justify-content-between flex-row align-center">
  <h6 class="m-0 text-uppercase">@Page</h6>
  <MudBreadcrumbs Items="@_items" />
</div>

@code {
    [Parameter] public string Page { get; set; }
    [Parameter]
    public
    List<BreadcrumbItem> Items
    { get; set; }
    private List<BreadcrumbItem> _items =
    new List<BreadcrumbItem>(); protected override void OnInitialized()
    {
        _items =
    Items ?? new List<BreadcrumbItem>(); base.OnInitialized();
    }
} 
