@inject IConfiguration Configuration
@using DA.UI.Utilities
@using DA.UI.Models.Currency
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using System.Text.RegularExpressions;

@code {
    public string? Currency { get; set; }
    public string? Name { get; set; }
    [Parameter]
    public EventCallback OnClose { get; set; }
    [Parameter]
    public EventCallback Reload { get; set; }
    [Parameter]
    public string? Token { get; set; }
    [Parameter]
    public string? AccountId { get; set; }
    [Parameter]
    public string? Explanation { get; set; }
    public string ErrMsg { get; set; }
    
    private string baseURL = string.Empty;
    private bool formSubmited = false;
    private bool formErrExisting = false;
    
    private List<Currencys> listCurrency = new List<Currencys>();

    private void CloseProps()
    {
        OnClose.InvokeAsync();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        formSubmited = false;
        formErrExisting = false;
        baseURL = Configuration["URLs:API"] ?? string.Empty;
    }

    protected override async Task OnInitializedAsync()
    {
       GetCurrency();
    }

    private void GetCurrency()
    {
        var response = Service.GET(baseURL, "/currency", token: Token);
        var responseContent = response.Content;

        var jsonObject = JsonConvert.DeserializeObject<dynamic>(responseContent);
        var dataArray = jsonObject.data as JArray;

        foreach (var item in dataArray)
        {
            var currencyObject = item.ToObject<Currencys>();

            if(currencyObject.Deleted == false)
            {
                listCurrency.Add(currencyObject);
            }
        }
    }

    private bool IsInputValid(string input)
    {
        return !string.IsNullOrWhiteSpace(input) && Regex.IsMatch(input, "^[A-Za-z]{1,3}$");
    }
    private bool IsCurrencyValid(string currency)
    {
        return int.TryParse(currency, out _);
    }

    private void HandleSubmit()
    {
        formSubmited = true;
        if (!IsInputValid(Name))
        {
            Console.WriteLine("Invalid input. Please enter 3 alphabetic characters.");
            return;
        }

        // Check if any required field is empty
        if (
            string.IsNullOrWhiteSpace(Name) ||
            string.IsNullOrWhiteSpace(Currency))
        {
            return;
        }

        if (listCurrency.Any(c => c.Name.Equals(Name.Trim(), StringComparison.OrdinalIgnoreCase)))
        {
            Console.WriteLine("Error: Name already exists.");
            formErrExisting = true;
            // atau Debug.WriteLine("Error: Name already exists.");
            return;
        }

        try
        {
            var payload = new
            {
                id = 0,
                name = Name.ToUpper(),
                currency_to_idr = int.Parse(Currency),
                deleted = false
            };

            var response = Service.POST_CLIENT(baseURL, $"/currency", payload, token: Token);

            if (!response.IsSuccessStatusCode)
            {
                var errorResponseContent = response.Content;
                Console.WriteLine($"Error: {errorResponseContent}");
                // atau Debug.WriteLine($"Error: {errorResponseContent}");

                var jsonObject = JsonConvert.DeserializeObject<dynamic>(errorResponseContent);
                ErrMsg = jsonObject.message;
                return;
            }

             Reload.InvokeAsync();
             CloseProps();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
            // atau Debug.WriteLine($"Error: {ex.Message}");
        }
    }
}

<div class="container-modal">
    <div class="modal-content" style="max-height: none;">
        <button class="onclose text-black" @onclick="CloseProps">
            x
        </button>

        <div class="container-content">
            <div class="d-flex flex-column gap-3 mt-5">
                <div class="d-flex flex-column gap-1">
                    <small class="text-capitalize title-modal">Name <span style="color: #D20000;">*</span></small>
                    <MudTextField @bind-Value="Name" Margin="Margin.Dense" Variant="Variant.Outlined"
                        Class="uppercase-text" pattern="[A-Za-z]{1,3}"
                        title="Input should be 1 to 3 alphabetic characters">
                    </MudTextField>

                    @if (formSubmited && string.IsNullOrWhiteSpace(Name))
                    {
                        <span class="field-error">Name is required.</span>
                    }
                    else if (formSubmited && !string.IsNullOrWhiteSpace(Name) && Name.Length > 3)
                    {
                        <span class="field-error">Name should be a maximum of 3 characters.</span>
                    }
                    else if (formSubmited && !string.IsNullOrWhiteSpace(Name) && !Regex.IsMatch(Name, "^[A-Za-z]*$"))
                    {
                        <span class="field-error">Name should contain only alphabetic characters. Eg : JPY</span>
                    }
                    else if (formSubmited && !string.IsNullOrWhiteSpace(Name) && formErrExisting)
                    {
                        <span class="field-error">Name already registered.</span>
                    }
                </div>

                <div class="d-flex flex-column gap-1">
                    <small class="text-capitalize title-modal">Currency To IDR <span style="color: #D20000;">*</span></small>
                    <MudTextField  @bind-Value="Currency" Margin="Margin.Dense" Variant="Variant.Outlined">
                    </MudTextField>

                    @if (formSubmited && string.IsNullOrWhiteSpace(Currency))
                    {
                        <span class="field-error">Currency is required.</span>
                    }
                    else if (formSubmited && !string.IsNullOrWhiteSpace(Currency) && !IsCurrencyValid(Currency))
                    {
                        <span class="field-error">Currency should be a valid number.</span>
                    }
                </div>

                @if(!string.IsNullOrWhiteSpace(ErrMsg)){
                    <MudAlert Severity="Severity.Error">@ErrMsg</MudAlert>
                }
            </div>
        </div>

        <div class="footer-modal">
            <div class="d-flex flex-row gap-3 justify-content-end">
                <MudButton Variant="Variant.Outlined" Color="Color.Error" class="text-uppercase px-5"
                    style="width: 150px;" @onclick="CloseProps">
                    cancel
                </MudButton>
                <MudButton Variant="Variant.Filled" class="save-modal text-uppercase px-5" style="width: 150px;"
                    @onclick="HandleSubmit">
                    save
                </MudButton>
            </div>
        </div>
    </div>
</div>