﻿@inject IJSRuntime JSRuntime
@using DA.UI.Utilities
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Web

@code {
    string activeDropdown = string.Empty;
    string name = string.Empty;
    string role = string.Empty;
    private bool isPrerendering = true; // Set it to true initially
    private bool isDropdownOpen = false;

    private void ShowModal(string dropdownName)
    {
        activeDropdown = dropdownName;
        isDropdownOpen = true;
    }

    private void CloseModal()
    {
        activeDropdown = "";
        isDropdownOpen = false;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            isPrerendering = false; // Set isPrerendering ke false setelah pertama kali OnAfterRenderAsync
            await GetDisplayName();
            await GetRole();
        }
    }

    private async Task GetDisplayName()
    {
        var names = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "displayName");
        name = names;
        StateHasChanged(); // Ensure a re-render to update the UI with the retrieved name
    }

    private async Task GetRole()
    {
        var roles = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "role");
        role = roles;
        StateHasChanged(); // Ensure a re-render to update the UI with the retrieved name
    }

    private void HandleLogout()
    {
        // Clear local storage
        JSRuntime.InvokeVoidAsync("localStorage.removeItem", "displayName");
        JSRuntime.InvokeVoidAsync("localStorage.removeItem", "token");
        JSRuntime.InvokeVoidAsync("localStorage.removeItem", "userId");
        JSRuntime.InvokeVoidAsync("localStorage.removeItem", "role");
        JSRuntime.InvokeVoidAsync("localStorage.removeItem", "department_id");

        // Redirect to the login page
        NavigationManager.NavigateTo("/auth/login");
    }

    private void HandleDocumentClick(MouseEventArgs e)
    {
        if (isDropdownOpen)
        {
            CloseModal();
        }
    }
}

<nav class="navbar-container">
    <div class="d-flex flex-row justify-content-between align-center">
        <div class="logo">
            <img src="/images/main-layout/nav-logo.png" alt="logo" style="height: 40px;">
        </div>

        <ul class="d-flex flex-row gap-5 text-capitalize">
            <MudLink Href="/" style="color: #D7D0C6 !important; text-transform: capitalize;">
                <li class="d-flex align-center gap-2"
                    onclick="@(() => ShowModal(""))">
                    <MudIcon Icon="@Icons.Material.Outlined.Home" Title="Favorite" />
                    <span class="mt-1">dashboard</span>
                </li>
            </MudLink>
            <MudLink Href="/country" style="color: #D7D0C6 !important; text-transform: capitalize;">
                <li class="d-flex align-center gap-2"
                    onclick="@(() => ShowModal(""))">
                    <MudIcon Icon="@Icons.Material.Outlined.Home" Title="Favorite" />
                    <span class="mt-1">Country</span>
                </li>
            </MudLink>
            <MudLink Href="/product" style="color: #D7D0C6 !important; text-transform: capitalize;">
                <li class="d-flex align-center gap-2"
                    onclick="@(() => ShowModal(""))">
                    <MudIcon Icon="@Icons.Material.Outlined.Home" Title="Favorite" />
                    <span class="mt-1">Product</span>
                </li>
            </MudLink>
            <MudLink Href="/order" style="color: #D7D0C6 !important; text-transform: capitalize;">
                <li class="d-flex align-center gap-2"
                    onclick="@(() => ShowModal(""))">
                    <MudIcon Icon="@Icons.Material.Outlined.Home" Title="Favorite" />
                    <span class="mt-1">Order</span>
                </li>
            </MudLink>
            @* <button 
                style="color: #D7D0C6 !important; text-transform: capitalize; position: relative">
                <li class="d-flex align-center gap-2"
                    onclick="@(() => ShowModal(activeDropdown == "user" ? "" : "user"))">
                    <MudIcon Icon="@Icons.Material.Outlined.AdminPanelSettings" Title="Favorite" />
                    <span class="mt-1">user</span>
                </li>

                 @if (activeDropdown == "user")
                {
                    <DA.UI.Shared.dropdown.DropdownUser OnClose="CloseModal" roles="@role" />
                }
            </button> *@

            @* @if(role != "User")
            {
                <button 
                    style="color: #D7D0C6 !important; text-transform: capitalize;">
                    <li class="d-flex align-center gap-2"
                        onclick="@(() => ShowModal(activeDropdown == "approver" ? "" : "approver"))">
                        <MudIcon Icon="@Icons.Material.Filled.FileOpen" Title="Favorite" />
                        <span class="mt-1">approver</span>
                    </li>

                    @if (activeDropdown == "approver")
                    {
                        <DA.UI.Shared.dropdown.DropdownApprover OnClose="CloseModal" />
                    }
                </button>
            }

            @if (role != "User" && role != "Approver")
            {
                <button
                    style="color: #D7D0C6 !important; text-transform: capitalize;">
                    <li class="d-flex align-center gap-2"
                        onclick="@(() => ShowModal(activeDropdown == "administrator" ? "" : "administrator"))">
                        <MudIcon Icon="@Icons.Material.Outlined.AdminPanelSettings" Title="Favorite" />
                        <span class="mt-1">administrator</span>
                    </li>

                    @if (activeDropdown == "administrator")
                    {
                        <DA.UI.Shared.dropdown.DropdownAdministrator OnClose="CloseModal" roles="@role" />
                    }
                </button>
            } *@
        </ul>

        <div class="account-name" style="color: #D7D0C6 !important; text-transform: capitalize;">
            <li class="d-flex align-center gap-2">
                <MudIcon Icon="@Icons.Material.Outlined.AccountCircle" Title="Favorite" />
                <span class="mt-1">@name</span>
                <span class="mt-1">|</span>
                <button onclick="@(() => HandleLogout())">
                    <span class="mt-1">Logout</span>
                </button>
            </li>
        </div>
    </div>

    @if (!string.IsNullOrWhiteSpace(activeDropdown))
    {
        <div @onclick="CloseModal" style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 999;"></div>
    }
</nav>
