@using Newtonsoft.Json
@using DA.UI.Models.DashboardTable
@using RestSharp
@using DA.UI.Utilities
@using MudBlazor


@code {
    private IEnumerable<DashboardTables>? pagedData;
    private MudTable<DashboardTables>? table;
    private int totalItems;
    private int pageCount;
    private string? searchString = null;
    private bool show = false;

    private void ShowModal()
    {
        show = !show;
    }

    private async Task<TableData<DashboardTables>> ServerReload(TableState state)
    {
        var response = Service.GET("https://jsonplaceholder.typicode.com/", "posts");
        var responseJson = response.Content;
        var result = responseJson != null ? JsonConvert.DeserializeObject<List<DashboardTables>>(responseJson) : new
        List<DashboardTables>();
        var res = new TableData<DashboardTables>();
        res.Items = result;
        var pageCount = res.Items;
        var data = res.Items;


        data = data?.Where(element =>
        {
            if (string.IsNullOrWhiteSpace(searchString))
                return true;
            if ($"{element.UserID}".Contains(searchString, StringComparison.OrdinalIgnoreCase))
                return true;
            if ($"{element.Id}".Contains(searchString, StringComparison.OrdinalIgnoreCase))
                return true;
            if ($"{element.Title} {element.Body}".Contains(searchString))
                return true;
            return false;
        }).ToArray();

        totalItems = data?.Count() ?? 0;

        switch (state.SortLabel)
        {
            case "userId_field":
                data = data.OrderByDirection(state.SortDirection, o => o.UserID);
                break;
            case "id_field":
                data = data.OrderByDirection(state.SortDirection, o => o.Id);
                break;
            case "title_field":
                data = data.OrderByDirection(state.SortDirection, o => o.Title);
                break;
            case "body_field":
                data = data.OrderByDirection(state.SortDirection, o => o.Body);
                break;
        }

        pagedData = data?.Skip(state.Page * state.PageSize).Take(state.PageSize).ToArray() ?? new DashboardTables[0];

        return new TableData<DashboardTables>() { TotalItems = totalItems, Items = pagedData };
    }

    private void OnSearch(string text)
    {
        searchString = text;
        table?.ReloadServerData();
    }

    private void OnPageChanged(int page)
    {
        if (table != null)
        {
            table.CurrentPage = page;
            table.ReloadServerData();
        }
    }
}

<div class="d-flex flex-column gap-2">
    <div class="d-flex flex-row justify-content-between gap-2">
        <MudTextField T="string" ValueChanged="@(s => OnSearch(s))" Variant="Variant.Outlined" Margin="Margin.Dense"
            style="max-width: 400px !important; min-width: 400px;" Placeholder="Search ..." />

        @* <MudButton Variant="Variant.Filled" Size="Size.Small"
        style="background: #3D738D; width: 160px; color: #F2F2F2;">Create new user</MudButton>

        <MudButton Variant="Variant.Filled" Size="Size.Small"
        style="width: 120px; color: #7D7D7D; background: #CACACA; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), inset 0px
        2px 4px rgba(0, 0, 0, 0.15);">
        export
        </MudButton> *@
    </div>

    <div class="d-flex flex-column gap-3">
        <MudTable ServerData="@(new Func<TableState, Task<TableData<DashboardTables>>>(ServerReload))" Dense="true"
            Hover="true" @ref="table" style="box-shadow: none;">
            <HeaderContent>
                <MudTh class="text-center py-3 header-background header-rounded-left">
                    <MudTableSortLabel class="text-center text-uppercase" SortLabel="requestor_field"
                        T="DashboardTables">
                        requestor
                    </MudTableSortLabel>
                </MudTh>
                <MudTh class="text-center py-3 header-background">
                    <MudTableSortLabel class="text-center text-uppercase" SortLabel="prnumber_field"
                        T="DashboardTables">
                        pr number
                    </MudTableSortLabel>
                </MudTh>
                <MudTh class="text-center py-3 header-background">
                    <MudTableSortLabel class="text-center text-uppercase" SortLabel="prtype_field" T="DashboardTables">
                        pr type
                    </MudTableSortLabel>
                </MudTh>
                <MudTh class="text-center py-3 header-background">
                    <MudTableSortLabel class="text-center text-uppercase" SortLabel="createat_field"
                        T="DashboardTables">
                        create at
                    </MudTableSortLabel>
                </MudTh>
                <MudTh class="text-center py-3 header-background">
                    <MudTableSortLabel class="text-center text-uppercase" SortLabel="ponumber_field"
                        T="DashboardTables">
                        po number
                    </MudTableSortLabel>
                </MudTh>
                <MudTh class="text-center py-3 header-background">
                    <MudTableSortLabel class="text-center text-uppercase" SortLabel="purpose_field" T="DashboardTables">
                        purpose
                    </MudTableSortLabel>
                </MudTh>
                <MudTh class="text-center py-3 header-background">
                    <MudTableSortLabel class="text-center text-uppercase" SortLabel="channelbudget_field"
                        T="DashboardTables">
                        channel budget
                    </MudTableSortLabel>
                </MudTh>
                <MudTh class="text-center py-3 header-background">
                    <MudTableSortLabel class="text-center text-uppercase" SortLabel="currency_field"
                        T="DashboardTables">
                        currency
                    </MudTableSortLabel>
                </MudTh>
                <MudTh class="text-center py-3 header-background header-rounded-right">
                    <MudTableSortLabel class="text-center text-uppercase" SortLabel="shipment_field"
                        T="DashboardTables">
                        shipment
                    </MudTableSortLabel>
                </MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd class="p-3 body-background" DataLabel="requestor_field">
                    @* @context.UserID *@
                    ini dummy data
                </MudTd>
                <MudTd class="p-3 body-background" DataLabel="prnumber_field">
                    @* @context.Id *@
                    ini dummy data
                </MudTd>
                <MudTd class="p-3 body-background" DataLabel="prtype_field">
                    @* @context.Title *@
                    ini dummy data
                </MudTd>
                <MudTd class="p-3 body-background" DataLabel="createat_field">
                    @* @context.Body *@
                    ini dummy data
                </MudTd>
                <MudTd class="p-3 body-background" DataLabel="ponumber_field">
                    @* @context.Body *@
                    ini dummy data
                </MudTd>
                <MudTd class="p-3 body-background" DataLabel="purpose_field">
                    @* @context.Body *@
                    ini dummy data
                </MudTd>
                <MudTd class="p-3 body-background" DataLabel="channelbudget_field">
                    @* @context.Body *@
                    ini dummy data
                </MudTd>
                <MudTd class="p-3 body-background" DataLabel="currency_field">
                    @* @context.Body *@
                    ini dummy data
                </MudTd>
                <MudTd class="p-3 body-background" DataLabel="shipment_field">
                    @* @context.Body *@
                    ini dummy data
                </MudTd>
            </RowTemplate>
            <NoRecordsContent>
                <MudText style="background: #FFF9E1;">No matching records found</MudText>
            </NoRecordsContent>
            <LoadingContent>
                <MudText style="background: #FFF9E1;">Loading...</MudText>
            </LoadingContent>
        </MudTable>

        <div class="d-flex flex-row justify-content-end">
            <MudPagination Variant="Variant.Filled" Count="5" PageSize="table?.PageSize ?? 10"
                Page="table?.TableState.Page ?? 0" PageChanged="OnPageChanged" />
        </div>
    </div>
</div>


