@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using DA.UI.Models.Shared.Main
@using DA.UI.Utilities
@using MudBlazor
@using Microsoft.JSInterop
@using System
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

@code {
    @inject IConfiguration Configuration
    private IEnumerable<ResponseCountry>? pagedData;
    private MudTable<ResponseCountry>? table;
    private int totalItems;
    private int pageCount;
    private string? searchString = null;
    private string selectedId;
    private string baseURL = string.Empty;
    private string token = string.Empty;
    private int key = 1; // Ubah nilai awal counter menjadi 1
    private int itemsPerPage = 10;
    private string infoFormat = "{first_item}-{last_item} of {all_items}";

    private bool IsModalOpen { get; set; }
    private bool IsModalDetailOpen { get; set; }
    private bool IsModalOpenDelete { get; set; }

    private async Task<TableData<ResponseCountry>> ServerReload(TableState state)
    {
        try
        {
            baseURL = Configuration["URLs:API"] ?? string.Empty;
            token = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "token");

            var response = Service.GET(baseURL, "/country", token: token);
            var responseContent = response.Content;
            var jsonObject = JObject.Parse(responseContent);
            var dataArray = (JArray)jsonObject["data"];
            var responseJson = dataArray?.ToString();

            var result = !string.IsNullOrEmpty(responseContent) ? JsonConvert.DeserializeObject<List<ResponseCountry>>(responseJson) : new List<ResponseCountry>();
            var nonDeletedCategories = result.ToList();

            // Hitung nilai indeks
            for (int i = 0; i < nonDeletedCategories.Count; i++)
            {
               // nonDeletedCategories[i].CountryId.ToString() = i + 1;
            }

            var res = new TableData<ResponseCountry>();
            res.Items = nonDeletedCategories;

            var data = res.Items;
            
            data = data?.Where(element =>
                string.IsNullOrWhiteSpace(searchString) ||

               $"{element.CountryId}".Contains(searchString, StringComparison.OrdinalIgnoreCase) ||
               $"{element.CountryName}".Contains(searchString, StringComparison.OrdinalIgnoreCase) ||
               $"{element.TwoLetterIsoCode}".Contains(searchString, StringComparison.OrdinalIgnoreCase) //||
               // $"{element.year}".Contains(searchString, StringComparison.OrdinalIgnoreCase) ||
              //  $"{element.file_Name}".Contains(searchString, StringComparison.OrdinalIgnoreCase) ||
              //  $"{element.upload_at}".Contains(searchString, StringComparison.OrdinalIgnoreCase) ||
              //  $"{element.totalAmount}".Contains(searchString, StringComparison.OrdinalIgnoreCase)
            ).ToArray();

            totalItems = data?.Count() ?? 0;
            pageCount = (int)Math.Ceiling((double)totalItems / itemsPerPage); // Menghitung jumlah halaman dan mengonversi ke tipe data int

            switch (state.SortLabel)
            {
                case "index_field":
                    data = data.OrderByDirection(state.SortDirection, o => o.CountryId);
                    break;
                case "name_field":
                    data = data.OrderByDirection(state.SortDirection, o => o.CountryName);
                    break;
                case "TwoLetterIsoCode_field":
                    data = data.OrderByDirection(state.SortDirection, o => o.TwoLetterIsoCode);
                     break;
                case "Population_field":
                    data = data.OrderByDirection(state.SortDirection, o => o.TotalPopulation);
                    break;
                // case "costcenterName_field":
                //     data = data.OrderByDirection(state.SortDirection, o => o.cost_center_name);
                //     break;
                // case "fileId_field":
                //     data = data.OrderByDirection(state.SortDirection, o => o.file_Name);
                //     break;
                // case "nominal_field":
                //     data = data.OrderByDirection(state.SortDirection, o => o.totalAmount);
                //     break;
            }

            pagedData = data?.Skip((state.Page) * (state?.PageSize ?? 10)).Take(state?.PageSize ?? 10).ToArray() ?? new ResponseCountry[0];

            StateHasChanged();
            return new TableData<ResponseCountry>() { TotalItems = totalItems, Items = pagedData };
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
            // atau Debug.WriteLine($"Error: {ex.Message}");

            return new TableData<ResponseCountry>() { TotalItems = 0, Items = new ResponseCountry[0] };
        }
    }

    private void OnSearch(string text)
    {
        searchString = text;
        table?.ReloadServerData();
    }
    private void ToggleModal()
    {
        IsModalOpen = !IsModalOpen;
    }

    private void ToggleModalDetail(string id)
    {
        IsModalDetailOpen = !IsModalDetailOpen;
        selectedId = id;
    }

    private void CloseProps()
    {
        IsModalOpen = false;
        IsModalDetailOpen = false;
        selectedId = "0";
        IsModalOpenDelete = false;
    }

    private void ToggleModalDelete(string id)
    {
        selectedId = id;
        IsModalOpenDelete = !IsModalOpenDelete;
    }

    private void OnDeleted()
    {
        var delete = Service.DELETE(baseURL, $"/country/{selectedId}", token: token);
        table.ReloadServerData();
        CloseProps();
    }
    private void NavigateToDetailPage(string id)
    {
        // Construct the URL for the detail page using the selected ID
        string detailUrl = $"/country/detail?id={id}";

        // Use the NavigationManager to navigate to the detail page
        NavigationManager.NavigateTo(detailUrl);
    }
}

<PageTitle>Country Management</PageTitle>

<div class="d-flex flex-column gap-2">
    <div class="d-flex flex-row justify-content-between gap-2">
        <MudTextField T="string" ValueChanged="@(s => OnSearch(s))" Variant="Variant.Outlined" Margin="Margin.Dense"
            style="max-width: 400px !important; min-width: 400px;" Placeholder="Search ..." />

        <MudButton Variant="Variant.Filled" Size="Size.Small" style="background: #3D738D; color: #F2F2F2;" class="px-4" OnClick="@ToggleModal">
            Add Country</MudButton>

        <MudButton Variant="Variant.Filled" Size="Size.Small" style="width: 120px; color: #7D7D7D; background: #CACACA; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), inset 0px
        2px 4px rgba(0, 0, 0, 0.15);">
            export
        </MudButton>
    </div>

    <div class="d-flex flex-column gap-3">
        <MudTable ServerData="@(new Func<TableState, Task<TableData<ResponseCountry>>>(ServerReload))" Dense="true"
            Hover="true" @ref="table" style="box-shadow: none;">
            <HeaderContent>
                <MudTh class="text-center py-3 header-background header-rounded-left">
                    <MudTableSortLabel class="text-center text-uppercase" SortLabel="index_field"
                                       T="ResponseCountry">
                        No
                    </MudTableSortLabel>
                </MudTh>
                <MudTh class="text-center py-3 header-background">
                    <MudTableSortLabel class="text-center text-uppercase" SortLabel="name_field"
                                       T="ResponseCountry">
                        Country Name
                    </MudTableSortLabel>
                </MudTh>
                <MudTh class="text-center py-3 header-background">
                    <MudTableSortLabel class="text-center text-uppercase" SortLabel="TwoLetterIsoCode_field"
                                       T="ResponseCountry">
                        Two Letter Iso Code
                    </MudTableSortLabel>
                </MudTh>
                <MudTh class="text-center py-3 header-background">
                    <MudTableSortLabel class="text-center text-uppercase" SortLabel="ThreeLetterIsoCode_field" T="ResponseCountry">
                        Three Letter Iso Code
                    </MudTableSortLabel>
                </MudTh>
                <MudTh class="text-center py-3 header-background">
                    <MudTableSortLabel class="text-center text-uppercase" SortLabel="NumericIsoCode_field"
                                       T="ResponseCountry">
                        Numeric Iso Code
                    </MudTableSortLabel>
                </MudTh>
                <MudTh class="text-center py-3 header-background">
                    <MudTableSortLabel class="text-center text-uppercase" SortLabel="nominal_field" T="ResponseCountry">
                        nominal amount
                    </MudTableSortLabel>
                </MudTh>
                <MudTh class="text-center py-3 header-background">
                    <MudTableSortLabel class="text-center text-uppercase" SortLabel="Population_field"
                                       T="ResponseCountry">
                        Population (Million)
                    </MudTableSortLabel>
                </MudTh>
                
                <MudTh class="text-center py-3 header-background header-rounded-right">
                    <MudTableSortLabel class="text-center text-uppercase"
                                       T="ResponseCountry">
                        action
                    </MudTableSortLabel>
                </MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd class="p-3 body-background" DataLabel="CountryId_field">
                    <MudText Align="Align.Center">
                        <MudText Align="Align.Center">@context.CountryId</MudText>
                    </MudText>
                </MudTd>
                <MudTd class="p-3 body-background" DataLabel="CountryName_field">
                    <MudText Align="Align.Center">@context.CountryName</MudText>
                </MudTd>
                <MudTd class="p-3 body-background" DataLabel="TwoLetterIsoCode_field">
                    <MudText Align="Align.Center">@context.TwoLetterIsoCode</MudText>
                </MudTd>
                <MudTd class="p-3 body-background" DataLabel="ThreeLetterIsoCode_field">
                    <MudText Align="Align.Center">@context.ThreeLetterIsoCode</MudText>
                </MudTd>
                <MudTd class="p-3 body-background" DataLabel="NumericIsoCode_field">
                    <MudText Align="Align.Center">@context.NumericIsoCode</MudText>
                </MudTd>
                <MudTd class="p-3 body-background" DataLabel="NumericIsoCode_field">
                    <MudText Align="Align.Center">@context.NumericIsoCode</MudText>
                </MudTd>
                <MudTd class="p-3 body-background" DataLabel="Population_field">
                    <MudText Align="Align.Center" style="margin-left: -10%">@context.TotalPopulation</MudText>
                </MudTd>
                <MudTd class="p-3 body-background"
                    DataLabel="created_At_field">
                    <button style="color: #1EB57E; padding-left: 13%"
                            @onclick="() => NavigateToDetailPage(context.CountryId)">
                        <MudIcon Icon="@Icons.Material.Filled.Visibility" Title="View" />
                    </button>
                    <button style="color: #D20000; padding-left: 10px;"
                            @onclick="() => ToggleModalDelete(context.CountryId)">
                    <MudIcon Icon="@Icons.Material.Outlined.Delete" Title="delete" />
                    </button>
                </MudTd>
            </RowTemplate>
            <NoRecordsContent>
                <MudText style="background: #FFF9E1; padding: 10px; margin-top: -12px; margin-bottom: -12px;">No matching records found</MudText>
            </NoRecordsContent>
            <LoadingContent>
                <MudText style="background: #FFF9E1; padding: 10px; margin-top: -12px; margin-bottom: -12px;">Loading...</MudText>
            </LoadingContent>
            <PagerContent >
                <MudTablePager style="background: #FFF9E1;" PageSizeOptions="new int[] { 10, 25, 50, 100, int.MaxValue }" InfoFormat="@($"End {infoFormat}")" HorizontalAlignment="HorizontalAlignment.End" />
            </PagerContent>
        </MudTable>
    </div>
</div>

@if (IsModalOpen)
{
    @* <DA.UI.Shared.modal.budget_management.BudgetMasterModal OnClose="CloseProps" Reload="@(() => table?.ReloadServerData())" Token="@token" /> *@
}

@if (IsModalDetailOpen)
{
    @* <DA.UI.Shared.modal.budget_management.BudgetMasterDetailModal OnClose="CloseProps" Reload="@(() => table?.ReloadServerData())" Token="@token" selectedId="@selectedId" /> *@
}

@if (IsModalOpenDelete)
{
    <DA.UI.Shared.modal.DeleteModal OnClose="CloseProps" OnSave="OnDeleted" />
}