@code {

    [Parameter]
    public EventCallback OnClose { get; set; }
    [Parameter]
    public EventCallback OnSave { get; set; }

    private void CloseProps()
    {
        OnClose.InvokeAsync();
    }

    private void SaveProps()
    {
        OnSave.InvokeAsync();
    }
}

<div class="container-modal">
    <div class="modal-content">
        <button class="onclose text-black" @onclick="CloseProps">
            x
        </button>

        <div class="container-content">
            <div class="d-flex flex-column gap-1">
                <img src="/images/main-layout/delete.png" alt="background" class="w-25 mx-auto">
                <span style="color: #484848; font-size: 16px;" class="text-center">Are you sure you want to delete
                    <br /> this file??</span>
            </div>

            <div class="py-4 px-3 footer-modal" style="border: 0;">
                <div class="d-flex flex-row gap-3 justify-content-center">
                    <MudButton Variant="Variant.Outlined" Color="Color.Error" class="text-uppercase px-5"
                        style="width: 150px;" @onclick="CloseProps">
                        no
                    </MudButton>
                    <MudButton Variant="Variant.Filled" class="save-modal text-uppercase px-5" style="width: 150px;"
                        @onclick="SaveProps">
                        yes
                    </MudButton>
                </div>
            </div>

        </div>
    </div>
</div>