@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using DA.UI.Models.DashboardTable
@using DA.UI.Models.audit_trail.AuditTrail
@using RestSharp
@using DA.UI.Utilities
@using MudBlazor
@inject IJSRuntime JSRuntime

@code {
    private IEnumerable<ResponseAuditTrail>? pagedData;
    private MudTable<ResponseAuditTrail>? table;
    private string token = string.Empty;
    private string baseURL = string.Empty;
    private int totalItems;
    private int itemsPerPage = 10;
    private int pageCount;
    private string? searchString = null;
    private bool show = false;

    private void ShowModal()
    {
        show = !show;
    }

    private async Task<TableData<ResponseAuditTrail>> ServerReload(TableState state)
    {
        try
        {
            token = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "token");
            var username = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "userName");
            //await JSRuntime.InvokeVoidAsync("console.log", "Username: ", username);

            var response = Service.GET(baseURL, "/audit-trail", token: token);

            var responseContent = response.Content;
            //await JSRuntime.InvokeVoidAsync("console.log", "data: ", responseContent);
            var jsonObject = JObject.Parse(responseContent);
            var dataArray = (JArray)jsonObject["data"];
            var responseJson = dataArray?.ToString();

            var result = !string.IsNullOrEmpty(responseContent) ? JsonConvert.DeserializeObject<List<ResponseAuditTrail>>(responseJson) : new List<ResponseAuditTrail>();

            var nonDeletedCategories = result
                .Where(item => item.method == "activity_log")
                .GroupBy(item => item.id)
                .Select(group => group.First())
                .ToList();


            for (int i = 0; i < nonDeletedCategories.Count; i++)
            {
                nonDeletedCategories[i].Index = i + 1;
            }
            
            var res = new TableData<ResponseAuditTrail>();
            res.Items = nonDeletedCategories;
            //await JSRuntime.InvokeVoidAsync("console.log", "Data response: ", res.Items);

            var data = res.Items;
            
            data = data?.Where(element =>
                string.IsNullOrWhiteSpace(searchString) ||
            $"{element.action}".Contains(searchString, StringComparison.OrdinalIgnoreCase) ||
            $"{element.Created_By}".Contains(searchString, StringComparison.OrdinalIgnoreCase) ||
            $"{element.Created_At}".Contains(searchString, StringComparison.OrdinalIgnoreCase)
            ).ToArray();

            totalItems = data?.Count() ?? 0;
            pageCount = (int)Math.Ceiling((double)totalItems / itemsPerPage);

            switch (state.SortLabel)
            {
                case "timeStamp_field":
                    data = data.OrderByDirection(state.SortDirection, o => o.Created_At);
                    break;
                case "username_field":
                    data = data.OrderByDirection(state.SortDirection, o => o.Created_By);
                    break;
                case "action_field":
                    data = data.OrderByDirection(state.SortDirection, o => o.action);
                    break;
            }

            pagedData = data?.Skip((state.Page) * (state?.PageSize ?? 10)).Take(state?.PageSize ?? 10).ToArray() ?? new ResponseAuditTrail[0];

            StateHasChanged();
            
            return new TableData<ResponseAuditTrail>() { TotalItems = totalItems, Items = pagedData };
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");

            return new TableData<ResponseAuditTrail>() { TotalItems = 0, Items = new ResponseAuditTrail[0] };
        }
    }

    private void OnSearch(string text)
    {
        searchString = text;
        table?.ReloadServerData();
    }

    private void OnPageChanged(int page)
    {
        if (table != null)
        {
            table.CurrentPage = page;
            table.ReloadServerData();
        }
    }
}

<div class="d-flex flex-column gap-1 mt-6">
    <span class="font-bold">APPROVAL LOG</span>
    <div class="d-flex flex-row justify-content-between gap-2">
        @* <MudTextField T="string" ValueChanged="@(s => OnSearch(s))" Variant="Variant.Outlined" Margin="Margin.Dense"
        style="max-width: 400px !important; min-width: 400px;" Placeholder="Search ..." /> *@

        @* <MudButton Variant="Variant.Filled" Size="Size.Small"
        style="background: #3D738D; width: 160px; color: #F2F2F2;">Create new user</MudButton>

        <MudButton Variant="Variant.Filled" Size="Size.Small"
        style="width: 120px; color: #7D7D7D; background: #CACACA; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), inset 0px
        2px 4px rgba(0, 0, 0, 0.15);">
        export
        </MudButton> *@
    </div>

    <div class="d-flex flex-column gap-3">
        <MudTable ServerData="@(new Func<TableState, Task<TableData<ResponseAuditTrail>>>(ServerReload))" Dense="true"
            Hover="true" @ref="table" style="box-shadow: none;">
            <HeaderContent>
                <MudTh class="text-center py-3 header-background header-rounded-left">
                    <MudTableSortLabel class="text-center text-uppercase" SortLabel="timeStamp_field"
                        T="ResponseAuditTrail">
                        time stamp
                    </MudTableSortLabel>
                </MudTh>
                <MudTh class="text-center py-3 header-background">
                    <MudTableSortLabel class="text-center text-uppercase" SortLabel="username_field"
                        T="ResponseAuditTrail">
                        username
                    </MudTableSortLabel>
                </MudTh>
                <MudTh class="text-center py-3 header-background">
                    <MudTableSortLabel class="text-center text-uppercase" SortLabel="action_field" T="ResponseAuditTrail">
                        action
                    </MudTableSortLabel>
                </MudTh>
                <MudTh class="text-center py-3 header-background header-rounded-right">
                    <MudTableSortLabel class="text-center text-uppercase" SortLabel="description_field"
                        T="ResponseAuditTrail">
                        description
                    </MudTableSortLabel>
                </MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd class="p-3 body-background" DataLabel="no_field">
                    <MudText Align="Align.Center">@context.Created_At</MudText>
                </MudTd>
                <MudTd class="p-3 body-background" DataLabel="no_field">
                    <MudText Align="Align.Center">@context.Created_By</MudText>
                </MudTd>
                <MudTd class="p-3 body-background" DataLabel="no_field">
                    <MudText Align="Align.Center">@context.action</MudText>
                </MudTd>
                <MudTd class="p-3 body-background" DataLabel="no_field">
                    <MudText Align="Align.Center">@context.description</MudText>
                </MudTd>
            </RowTemplate>
            <NoRecordsContent>
                <MudText style="background: #FFF9E1;">No matching records found</MudText>
            </NoRecordsContent>
            <LoadingContent>
                <MudText style="background: #FFF9E1;">Loading...</MudText>
            </LoadingContent>
        </MudTable>

        <div class="d-flex flex-row justify-content-end">
            <MudPagination Variant="Variant.Filled" Count="5" PageSize="table?.PageSize ?? 10"
                Page="table?.TableState.Page ?? 0" PageChanged="OnPageChanged" />
        </div>
    </div>
</div>
